body {
  font-family: "Arial", sans-serif;
}
h3 {
  text-transform: uppercase;
  padding-bottom: 1rem;
}
.navbar {
  background-color: #111111;
}
.navbar-img-logo {
  width: 150px;
  height: 50px;
}
.navbar-toggler {
  background-color: #fff;
}
.navbar-expand-lg .navbar-nav .nav-link.active {
  color: #fff;
}
.padding {
  padding-top: 1rem;
  padding-bottom: 50px;
}
.about-us {
  background-color: #4269bb;
  color: #fff;
}

@media (max-width: 425px) {
  .about-us-img {
    width: 250px;
    height: 250px;
  }
}
