body {
  font-family: "Arial", sans-serif;
}
h3 {
  text-transform: uppercase;
  padding-bottom: 1rem;
}
.navbar {
  background-color: #111111;
}
.navbar-img-logo {
  width: 150px;
  height: 50px;
}
.navbar-toggler {
  background-color: #fff;
}
.navbar-expand-lg .navbar-nav .nav-link.active {
  color: #fff;
}
