body {
  font-family: "Arial", sans-serif;
}
h3 {
  text-transform: uppercase;
  padding-bottom: 1rem;
}
.navbar {
  background-color: #111111;
}
.navbar-img-logo {
  width: 150px;
  height: 50px;
}
.navbar-toggler {
  background-color: #fff;
}
.navbar-expand-lg .navbar-nav .nav-link.active {
  color: #fff;
}
.navbar-expand-lg .navbar-nav .nav-link.active:hover {
  color: #5ea3f8;
  text-decoration: underline;
}
.padding {
  padding-top: 1rem;
  padding-bottom: 50px;
}
.about-us,
.services {
  background-color: #4269bb;
  color: #fff;
}
.partners {
  background-color: #fff;
}
.partner-img {
  width: 240px;
  height: 50px;
  margin: 0.5rem auto;
}
.bg-footer {
  background-color: #000;
}
.link-footer {
  color: #fff;
  text-decoration: none;
}
.link-footer:hover {
  color: #5ea3f8;
  text-decoration: underline;
}

@media (max-width: 425px) {
  .about-us-img {
    width: 250px;
    height: 250px;
  }
}
